{% extends "layout_custom.html" %} 

{% block pageTitle %}
  Responsibilities
{% endblock %}

{% block beforeContent %}
  <a href="/job-roles" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  {% if errormassege %}
    <div id="error" class="govuk-error-message">{{errormassege}}</div> 
  {% else %}
    {% if responsibilities %}
      <h1>{{responsibilities.role_name}} Responsibilities</h1> 
      <ul>
        {% for responsibility in responsibilities.resp_desc %}
          <li class="job-resp">{{responsibility}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no responsibilities for that role. </p>
    {% endif %}
  {% endif %}

{% endblock %}

