{% extends "layout_unbranded.html" %} 

{% block content %}
<a href="/job-roles" class="govuk-back-link">Back</a>
<br />

{% if errormassege %}
<div id="error" class="govuk-error-message">{{errormassege}}</div> 
{% else %}

{% if responsibilities %}

<h2>{{responsibilities.role_name}} Responsibilities</h2> 
<ul>

        {% for responsibility in responsibilities.resp_desc %}

        <li>{{responsibility}}</li>
        
        <br/>
        
        {% endfor %}
    </ul>

   
  {% else %}
  <p>There are no responsibilities for that role. </p>
  {% endif %}
{% endif %}

{% endblock %}

