{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
  <ul div class="govuk-header__container govuk-width-container nav-links">
      <li><a href="/index.html"><img src="/public/images/Kainos 800x250 Logo (Transparent BG).png" alt="Kainos Logo" width="150px"></a></li> 
      <li class="nav-link"><a href="/index.html">Home Page</a></li>
  </ul>
{% endblock %}
{% block footer %}{% endblock %}