{% extends "layout_custom.html" %}

{% block pageTitle %}
  Registration
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/index.html">Back</a>
{% endblock %}

{% block content %}

{% set roles = ["Employee", "Admin"] %} 
{% set locations = ["Belfast", "Birmingham", "Gdansk", "London"] %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Register</h1>

        {% if success %}
        <div id="regError" class="govuk-error-message reg-success">{{ success }}</div>   
        {% endif%}

        {% if errormessage %} 
            <div id="regError" class="govuk-error-message">{{ errormessage }}</div> 
        {% endif %}

      <form class="form" action="/user/register" method="post">
        <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="email">
                    Email
                </label>
            </div>
                <input class="govuk-input" id="email" name="email" value="{{email}}" type="text" required>

            <div class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="password">
                    Password
                </label>
            </div>
                <input class="govuk-input" id="password" name="password" value="{{password}}" type="password" required>

            <div class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="first_name">
                    Forename
                </label>
            </div>
            <input class="govuk-input" id="first_name" name="first_name" value="{{first_name}}" type="text" required>

            <div class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="last_name">
                    Surname
                </label>
            </div>
          <input class="govuk-input" id="last_name" name="last_name" value="{{last_name}}" type="text" required>

          <div class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="phone_number">
                Phone Number
            </label>
        </div>
      <input class="govuk-input" id="phone_number" name="phone_number" value="{{phone_number}}" type="text" required>

      <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="role">
                    Choose role:
                </label>
            </div>
            <select class="govuk-select" id="role" name="role">
              {% for role in roles %}
                <option value="{{role}}" selected>{{role}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="location">
                    Choose location:
                </label>
            </div>
            <select class="govuk-select" id="location" name="location">
              {% for location in locations %}
                <option value="{{location}}" selected>{{location}}</option>
              {% endfor %}
            </select>
          </div>

        <br>
        <button class="jobs-btn jobs-btn__green" id="submit">Submit</button>
      </form>

    </div>
  </div>

{% endblock %}
